/* https://piccalil.li/blog/a-modern-css-reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
}

:root {
  --palette-white: #ffffff;
  --palette-grey-50: #f0f1f5;
  --palette-grey-100: #e9ebf1;
  --palette-grey-200: #c7ccd6;
  --palette-grey-300: #a3a9b8;
  --palette-grey-400: #848da0;
  --palette-grey-500: #657088;
  --palette-grey-600: #515a6d;
  --palette-grey-700: #3d4352;
  --palette-grey-800: #282d36;
  --palette-grey-900: #14161b;

  --palette-blue-50: #eaf2ff;
  --palette-blue-100: #d5e6ff;
  --palette-blue-200: #aaccff;
  --palette-blue-300: #80b3ff;
  --palette-blue-400: #5599ff;
  --palette-blue-500: #2b80ff;
  --palette-blue-600: #2266cc;
  --palette-blue-700: #1a4d99;
  --palette-blue-800: #113366;
  --palette-blue-900: #091a33;
}

:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


  /* CHANGE TO NAMING font-size-16 for 16px -> 1rem */
  --font-size-12: 0.825rem;
  --font-size-16: 1rem;
  --font-size-20: 1.25rem;
  --font-size-40: 2.5rem;
  --font-size-80: 5rem;

  --font-width-1: 40ch;
  --font-width-2: 60ch;
  --font-width-3: 80ch;

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.5rem;
  --space-6: 2.25rem;
  --space-7: 3.25rem;
  --space-8: 4.5rem;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --radius-full: 9999px;

  /* Colors for Icons */
  --color-icon-green: #7CD953;
  --color-icon-on-green: #3D5930;
  --color-icon-orange: #D98F53;
  --color-icon-on-orange: #46372B;
  --color-icon-yellow: #EBEB5D;
  --color-icon-on-yellow: #59592D;

  --color-primary-light: var(--palette-blue-400);
  --color-primary: var(--palette-blue-500);
  --color-primary-dark: var(--palette-blue-600);
  --color-on-primary: var(--palette-white);

  --color-background: var(--palette-grey-50);
  --color-background-dark: var(--palette-grey-200);
  --color-on-background: var(--palette-grey-800);

  --color-surface: var(--palette-white);
  --color-surface-dark: var(--palette-grey-50);
  --color-surface-xdark: var(--palette-grey-200);
  --color-on-surface: var(--palette-grey-800);

  --color-border: var(--palette-grey-200);
  --color-border-primary: var(--palette-blue-600);

  --color-font: var(--palette-grey-900);
  --color-font-light: var(--palette-grey-400);

  --color-error: rgb(255, 85, 85);
  --color-on-error: rgb(46, 0, 0);

  --color-success: rgb(99, 255, 85);
  --color-on-success: rgb(10, 36, 7);

  --ease-in-sine: cubic-bezier(0.12, 0, 0.39, 0);

  --border-style: 1px solid var(--color-border);
  --elevation-shadow-1: 0 3px 6px var(--palette-grey-200);
  --transition-color: background-color 0.2s var(--ease-in-sine);

  --max-width-1: 1200px;
  --max-width-2: 1000px;
}

body {
  font-family: var(--system-ui);
  background-color: var(--color-background);
}

/* LINKS */

a {
  -webkit-tap-highlight-color: transparent;
}

a.reset {
  text-decoration: none;
}

a.button-secondary {
  text-decoration: none;
  color: var(--color-font);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
  padding: var(--space-2);
  background-color: var(--color-surface);
  transition: var(--transition-color);
}

a.button-secondary:hover {
  background-color: var(--color-surface-dark);
}

a.button-text {
  text-decoration: none;
  background-color: var(--color-surface);
  border-radius: var(--radius-md);
  padding: var(--space-2);
  transition: var(--transition-color);
}

a.button-text:hover {
  background-color: var(--color-surface-dark);
}

/* BUTTONS */
.button-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
  overflow: hidden;
  width: fit-content;
}

.button-group>button:not(:last-child) {
  border-right: 1px solid var(--color-border);
}

.button-group>button:nth-child(n) {
  border-radius: unset;
  background-color: transparent;
  flex: 1;
}

button {
  padding: var(--space-2) var(--space-4);
  cursor: pointer;
  color: var(--color-font);
  font-size: var(--font-size-16);
  width: fit-content;
}

button.primary {
  color: var(--color-on-primary);
  background-color: var(--color-primary);
  border: none;
  border-radius: var(--radius-md);
  transition: var(--transition-color);
}

button.primary:hover {
  background-color: var(--color-primary-dark);
}

button.primary:disabled {
  background-color: var(--color-surface-xdark);
}

button.secondary {
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
  transition: var(--transition-color);
  -webkit-tap-highlight-color: transparent;
}

button.secondary:hover {
  background-color: var(--color-surface-dark);
}

button.secondary:active {
  background-color: var(--color-surface);
}

button.secondary.active {
  color: var(--color-on-primary);
  background-color: var(--color-primary);
}

button.secondary:disabled {
  color: var(--color-font);
  background-color: var(--color-surface-xdark);
}

button.text {
  background-color: var(--color-surface);
  border-radius: var(--radius-md);
  transition: var(--transition-color);
  padding: var(--space-2);
  border: none;
}

button.text:hover {
  background-color: var(--color-surface-dark);
}

button.text.active {
  color: var(--color-on-primary);
  background-color: var(--color-primary);
}

button.on-background {
  color: var(--color-on-background);
  background-color: var(--color-background);
}

button.on-background:hover {
  background-color: var(--color-background-dark);
}

button.small {
  padding: var(--space-2);
}

button.large {
  padding: var(--space-4) var(--space-5);
}

/* INPUTS */
input,
select {
  color: var(--color-font);
  font-size: var(--font-size-16);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  all: unset;
}

input[type="number"] {
  appearance: textfield;
}

input.reset {
  border: none;
  background: none;
  padding: var(--space-1);
}

input[type="number"],
input[type="text"] {
  padding: var(--space-2) var(--space-3);
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
}

select {
  cursor: pointer;
  background: var(--color-surface);
  border-radius: var(--space-2);
  padding: var(--space-2) var(--space-2);
  border: 1px solid var(--color-border);
  transition: var(--transition-color);
}

/* Font Classes */
h1,
h2,
h3,
p {
  font-size: var(--font-size-16);
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-font);
  max-width: var(--font-width-3);
}

.ui-xlarge {
  font-size: var(--font-size-80);
  line-height: 1;
}

.ui-large {
  font-size: var(--font-size-40);
  line-height: 1;
}

.header-large {
  font-size: var(--font-size-48);
  line-height: 1;
}

.body-large {
  font-size: var(--font-size-20);
}

.body-regular {
  font-size: var(--font-size-16);
  line-height: 1.5;
}

.body-small {
  font-size: var(--font-size-12);
  line-height: 1.5;
}

.body-error {
  color: var(--color-error);
  font-size: var(--font-size-12);
}

.bold {
  font-weight: 500;
}

.text-light {
  color: var(--color-font-light);
}

/* Global Classes */
.card {
  border: var(--border-style);
  box-shadow: var(--elevation-shadow-1);
  background-color: var(--color-surface);
}

.card-secondary {
  border: var(--border-style);
  background-color: var(--color-surface);
  border-radius: var(--radius-md);
}

a.link {
  text-decoration: none;
  color: inherit;
}

.icon-container {
  display: flex;
  align-items: center;
  gap: var(--space-1);
}

/* Vector Score Styling */
g.vs-scrolling-notes-layer>g.vs-note-wrapper {
  transition: transform 0.2s ease-in;
}